@import '../../main';

span.text-xs {
    letter-spacing: 0px !important;
}

.drop-content-btn {
    border-radius: 0px !important;
}

.contentrows {
    cursor: pointer;
}



span[class^='circle'] {
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    &.circle-blue {
        background-color: blue;
    }
}