@import '../../../main';


input[type="checkbox"] {
    width: fit-content;
    margin-right: 0.4rem;
}

label {
    color: color(semi-black);
    font-size: 12px;
    // vertical-align: text-bottom;
}

.label {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}

.customcheck {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    background-color: color(light-gray);
    border-radius: 3px;
    width: 15px;
}


/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: color(purple);
    border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}